.navbar{
	padding:1%;
	border-radius:0;
	border:0;
}
.navbar-default .navbar-nav li{
	margin:5px;
}
.navbar-nav{
	width:50%;
}
.navbar-default .navbar-nav li a{
	font-size:120%;
	font-weight:bold;
	text-transform:uppercase;
	color:#8d8484;
	
}

.table-responsive .table td{
	padding-left:20%;
	font-size:150%;
	font-weight:bold;
	font-family:Serif;
	border:0;
}


.h{
	border:1px solid grey;
	
}
h1{
	font-weight:bold;
	font-style:italics;
	font-family:sanserif;
	color:#222;
	font-size:200%;
	background:#c8c4c4;
	text-align:center;
	margin-top:0;
}

.navbar-default .navbar-nav {
	margin-left:10%;
	
}


.navbar-default .navbar-nav li:nth-child(3){
	padding-left:2%;
	padding-right:2%;
}

.navbar-default .navbar-nav li a:hover{
	color:#696060;	
}
.navbar-default .navbar-nav li a:focus{
	color:#696060;	
	
}
.navbar-default .navbar-nav li a:active{
	color:#696060;	
	
}
h3{
	color:#6b8ac8;
	font-weight:bold;
	font-family:Arial;
	font-variant:small-caps;
}

p{
	font-weight:bold;
	font-size:110%;
}

#skillp{
	color:Blue;
	font-weight:bold;
	font-size:120%;
}

.caret{
	margin-left:1%;
	font-size:150%;
}


.bg-1{
	background-color:#b13c3c;
}
.bg-2{
	margin-top:1%;
	background-color: #222;
	padding:60px;
	min-height:20px;
}
.fa {
	
	text-decoration:none;
	color:#000;
	min-height:15px;
	min-width:15px;
	margin-left:20px;
}
.fa:first-child{
	margin-left:40%;
}

#icon a{
	font-size:200%;
	
}

.fa:hover{
	text-decoration:none;
	
}

.fa-facebook,.fa-facebook:focus {
  text-decoration:none;
	
}


.fa-google ,.fa-google:focus{
  text-decoration:none;
}

.fa-linkedin ,.fa:focus{
  text-decoration:none;
}
.card{
	 box-shadow: 0 4px 8px 0 black;
}

.cont1{
	padding:20%;
}
.cont1 p,#name{
	text-align:center;
}
.card .cont1 {
	padding:15% 0;
}
.edu{
	text-align:center;
}
.progress{
	height:40px;
	
}
.progress-bar-danger{
	background:grey;
	height:50px;
	line-height:40px;
}

.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 25px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}