.navbar{
	padding:1%;
	
	border-radius:0;
	border:0;
}
.navbar-inverse .navbar-nav li{
	margin:5px;
}
.navbar-inverse .navbar-nav li a{
	font-size:120%;
	font-weight:bold;
	text-transform:uppercase;
	color:#fff;
	
}
.navbar-inverse .navbar-nav  a:focus,.navbar-inverse .navbar-nav  a:hover{
	color:#fff;
	
}	
header{
	height:14vh;
}

section{
	float:left;
}
#a{
	height:71vh;
	width:15%;
	background-color: #ec3246;
}
#b{
	margin-left:2%;
	height:60vh;
	width:80%;
}
footer{
	background:#222;
	height:20vh;
	clear:both;
	margin-top:0;
	color:#fff;
}


main  {
	height:72vh;
	margin:1px 0;
}

table{
	width:80%;
	
}

td{
	padding:10px;
	font-size:115%;
	font-weight:bold;
	font-family:Serif;
}

tr:last-child  td:last-child{
	padding-top:30px;

}

h1{
	font-weight:bold;
	font-style:italics;
	font-family:sanserif;
	color:#fff;
	font-size:200%;
	background:#222;
	text-align:center;
}

figure{
	margin-top:10%;
	
}

img{
	border:1px solid #000;
}
figcaption{
	color:#fff;
	background:#222;
	border-radius:10px;
	font-size:150%;
	text-align:center;
	margin-top:10%;
}

.navbar-inverse .navbar-nav li a:hover{
	
	border:1px solid #fff;
}
.navbar-inverse .navbar-nav li a:focus{
	background:#ab444f;	
	border-radius:3px;
}
.navbar-inverse .navbar-nav li a:active{
	background:#ab444f;	
	font:#fff;
}
h3{
	color:#6b8ac8;
	font-weight:bold;
	font-family:Arial;
	font-variant:small-caps;
}

p{
	font-weight:bold;
	font-size:110%;
}

#skillp{
	color:Blue;
	font-weight:bold;
	font-size:120%;
}

.caret{
	margin-left:1%;
	font-size:150%;
}
.pager{
	
	clear:both;
}

.pager li a{
	background:#ab444f;
	border:blue;
	color:#FFF;
	font-weight:bold;
}

.pager li a:hover{
	background:#6d76da;
	border:blue;
	color:#fff;
	font-weight:bold;
}
