	<h1>About Me</h1>
	<div class="col-sm-3">
			<img src="assets/images/2.jpg" alt="p" class="img-responsive img-circle center">
				<div class="cont1">
					<h3 id="name"><b>Gandhar kudchadker</b></h3> 
					<p>Web Developer</p> 
				</div>
	</div>
	<div class="col-sm-9 ">
		<p class="lead">I am an aspiring web developer.I am fond of creating exceptional,simple and user-friendly websites.</p>
		<p >I am an aspiring web developer.I am fond of creating exceptional,simple and user-friendly websitesI am an aspiring web developer.I am fond of creating exceptional,simple and user-friendly websitesI am an aspiring web developer.I am fond of creating exceptional,simple and user-friendly websites</p>
		<p>I am an aspiring web developer.I am fond of creating exceptional,simple and user-friendly websitesI am an aspiring web developer.I am fond of creating exceptional,simple and user-friendly websitesI am an aspiring web developer.I am fond of creating exceptional,simple and user-friendly websites</p>
		<p>I am an aspiring web developer.I am fond of creating exceptional,simple and user-friendly websites.</p>
		
		<hr class="h">
		<div id="icon">
			<a href="#" class="fa fa-facebook-official"></a>
			<a href="#" class="fa fa-linkedin-square"></a>
			<a href="#" class="fa fa-github-square"></a>
		</div>
		<hr class="h">
		<br>
		<a href="resume/gr.pdf" download class="btn btn-info" role="button" >Check My CV</a>
	</div>
	
	
