
<div class="container">
	<div class="col-sm-4">
		<div class="card">
			<img src="assets/Images/2.jpg" alt="p" style="width:100%">
				<div class="cont1">
					<h3 id="name"><b>Gandhar kudchadker</b></h3> 
					<p>Web Developer</p> 
				</div>
		</div>

<br>

	<div class="col-sm-3">
		<figure>
		<img src="assets/Images/2.jpg" alt="flower" width="100%" height="100%">
		<figcaption>Gandhar Kudchadker</figcaption>
		</figure>

	</div>
	<div class="col-sm-8 well">
		<h1 id="head1">About Me</h1>
		<p>I am an aspiring web developer.I am fond of creating exceptional,simple and user-friendly websites.</p>
		<div class="table-responsive">
		<table class="table">
			<tr>
				<td>Phone</td>
				<td>7099804984</td>
			</tr>
			<tr>
				<td>Email</td>
				<td>gandhar.kudchadker@gmail.com</td>
			</tr>
			
		</table>
		</div>
		<hr class="h">
		<div id="icon">
			<a href="#" class="fa fa-facebook-official"></a>
			<a href="#" class="fa fa-linkedin-square"></a>
			<a href="#" class="fa fa-github-square"></a>
		</div>
		<hr class="h">
		<br>
		<a href="resume/gr.pdf" download class="btn btn-info" role="button" >Check My CV</a>
	</div>
	
	</div>
