<style>
			body {font-family: "Lato", sans-serif;}

.tablink {
    background-color: #4c6a94;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 32.5%;
}

.tablink:hover {
    background-color: #637da1;
}


.tabcontent {
    color: white;
    display: none;
    text-align: center;
	width:100%;
	
	height:auto;
}

#Front
 {
 background-color:#e8ecf1;
 }
#Back {background-color:#d2d9e4;}
#Other {background-color:#d2d9e4;}



#myProgress {
  width: 100%;
  background-color: #bac6ab;
  
}

#myBar1a {
  width: 10%;
  height: 30px;
  background-color: #a39022;
  text-align: center;
  line-height: 30px;
  color: white;
}
#myBar1b {
  width: 10%;
  height: 30px;
  background-color: #a39022;
  text-align: center;
  line-height: 30px;
  color: white;
}

#myBar1b {
  width: 10%;
  height: 30px;
  background-color: #a39022;
  text-align: center;
  line-height: 30px;
  color: white;
}

#myBar2a {
  width: 10%;
  height: 30px;
  background-color: #a39022;
  text-align: center;
  line-height: 30px;
  color: white;
}
#myBar2b {
  width: 10%;
  height: 30px;
  background-color: #a39022;
  text-align: center;
  line-height: 30px;
  color: white;
}

#myBar3 {
  width: 10%;
  height: 30px;
  background-color: #a39022;
  text-align: center;
  line-height: 30px;
  color: white;
}


.cent{
	margin-top:3%;
}

.framework{
	
}


</style>

<div class="col-sm-2 well"></div>
<div class="col-sm-8 well i">
	<div class="row">
		<button class="tablink" onclick="openService('Front', this, '#a5b4c9')" id="defaultOpen">Front End</button>
		<button class="tablink" onclick="openService('Back', this, '#a5b4c9')">back End</button>
		<button class="tablink" onclick="openService('Other', this, '#a5b4c9')">Others</button>
	</div>
	<div class="row tabcontent" id="Front">
		<div class="col-sm-12">
			<div class="row well">
				<div class="col-sm-3">
					<img src="assets/Images/htmlcss.png" height="80%" width="80%" class="img-responsive center">
				</div>
				<div class="col-sm-9 cent">
					<div id="myProgress">
						<div id="myBar1a">10%</div>
					</div>
				</div>
			</div>
			<div class="row well">
					<div class="col-sm-3">
						<img src="assets/Images/Javascript.png" height="12%" width="54%" class="img-responsive center">
					</div>
					<div class="col-sm-9 cent">		
						<div id="myProgress">
							<div id="myBar1b">10%</div>
						</div>
					</div>
			</div>
			<div class="row well">
				<div class="col-sm-2 well"></div>
				<div class="col-sm-2 well"></div>
				<div class="col-sm-2 well"></div>
				<div class="col-sm-2 well"></div>
				<div class="col-sm-2 well"></div>
				<div class="col-sm-2 well"></div>
			</div>
		</div>
	</div>
	
	<div class="row tabcontent" id="Back">
		<div class="col-sm-12">
			<div class="row well">
				<div class="col-sm-3">
					<img src="assets/Images/php7.png" height="40%" width="40%" class="img-responsive center">
				</div>
				<div class="col-sm-9 cent">
					<div id="myProgress">
						<div id="myBar2a">10%</div>
					</div>
				</div>
			</div>
			<div class="row well">
					<div class="col-sm-3">
						<img src="assets/Images/mysql.png" height="50%" width="50%" class="img-responsive center">
					</div>
					<div class="col-sm-9 cent">		
						<div id="myProgress">
							<div id="myBar2b">10%</div>
						</div>
					</div>
			</div>
			<div class="row well">
				<div class="col-sm-2 well"></div>
				<div class="col-sm-2 well"></div>
				<div class="col-sm-2 well"></div>
				<div class="col-sm-2 well"></div>
				<div class="col-sm-2 well"></div>
				<div class="col-sm-2 well"></div>
			</div>
		</div>
	</div>
</div>
<div class="col-sm-2 well">
<script>
function Front() 
{
  var elem1 = document.getElementById("myBar1a");   
  var elem2 = document.getElementById("myBar1b");   
  var width = 1;
  var id1 = setInterval(frame1, 10);
  var id2 = setInterval(frame2, 60);
  function frame1() 
  {
    if (width >= 80)
	{
      clearInterval(id1);
    } 
	else 
	{
      width++; 
      elem1.style.width = width + '%'; 
      elem1.innerHTML = width * 1  + '%';
    }
  }
  function frame2() 
  {
    if (width >= 40)
	{
      clearInterval(id2);
    } 
	else 
	{
      width++; 
      elem2.style.width = width + '%'; 
      elem2.innerHTML = width * 1  + '%';
    }
  }
  
}
</script>
<script>
function Back() 
{
  var elem1 = document.getElementById("myBar2a");   
  var elem2 = document.getElementById("myBar2b");   
  var width = 10;
  var id1 = setInterval(frame1, 40);
  var id2 = setInterval(frame2, 40);
  function frame1() 
  {
    if (width >= 35) {
      clearInterval(id1);
    } else {
      width++; 
      elem1.style.width = width + '%'; 
      elem1.innerHTML = width * 1  + '%';
    }
  }
  function frame2() 
  {
    if (width >= 60) {
      clearInterval(id2);
    } else {
      width++; 
      elem2.style.width = width + '%'; 
      elem2.innerHTML = width * 1  + '%';
    }
  }
}

</script>
	
<script>
			function openService(serviceName,elmnt,color)
			{
				var i, tabcontent, tablinks;
				
				tabcontent = document.getElementsByClassName("tabcontent");
				for (i = 0; i < tabcontent.length; i++)
				{
					tabcontent[i].style.display = "none";
				}
				
				tablinks = document.getElementsByClassName("tablink");
				for (i = 0; i < tablinks.length; i++) 
				{
					tablinks[i].style.backgroundColor = "";
				}
				
				document.getElementById(serviceName).style.display = "block";
				elmnt.style.backgroundColor = color;
				
				//----------for progress bar-----------
				if(serviceName=="Back")
				{
					Back();
				}
				if(serviceName=="Other")
				{
					Other();
				}
				if(serviceName=="Front")
				{
					Front();
				}
				
				
				
			}
			
			// Get the element with id="defaultOpen" and click on it
		document.getElementById("defaultOpen").click();
</script>

	



























